.stat-block {
  display: flexbox;
  background-image: url("../../../assets/images/stat-border.png");
  background-repeat: no-repeat;
  background-size: 115px 112px;
  height: 100%;
  margin: 0px;
}

:host{
  display: block;
  width: 115px;
  height: 115px;
}

.name{
  position: relative;
  text-align: center;
  width: 88px;
  left: 12px;
  top: 10px;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 10px;
}

.modifier{
  position: relative;
  right:5px;
  top:5px;
  text-align: center;
  font-size: 40px;
}

.value{
  position: relative;
  left:32px;
  bottom:13px;
  text-align: center;
  width: 47px;
  font-size: 20px;
}

