<div class="container-flex">
    <div class="bookContainer">
      <router-outlet></router-outlet>
      <button class="firstButton bookButton" [routerLink]="'character'"></button>
      <button class="secondButton bookButton" [routerLink]="'inventory'"></button>
      <button class="thirdButton bookButton" [routerLink]="'dice-roller'"></button>
      <button class="fourthButton bookButton" [routerLink]="'spellbook'"></button>
      <button class="fifthButton bookButton" [routerLink]="'glossary'"></button>
    </div>
</div>
