/* Importing Bootstrap SCSS file. */
@import '../node_modules/bootstrap/scss/bootstrap.scss';

/* You can add global styles to this file, and also import other style files */
.wholePage {
  background-image: url("assets/images/wooden-texture-repeating.jpg");
  background-color: #442a14;
  background-size: 600px;
  background-attachment: fixed;
  background-repeat: repeat;
}

:root {
  --book-margin-x: 160px;
  --book-resolution-x: 1500px;
  --book-resolution-y: 939px;
  --table-texture-url: ""
}

@font-face {
  font-family: 'FantasyFont'; /*a name to be used later*/
  src: url('/assets/fonts/Foglihten-068.otf'); /*URL to font*/
}

p {
  font-family: 'FantasyFont';
}


